@theHeight: 56px;
@theWidth: 120px;
@background: #ecebe8;

:local {
	.brandArea {
		width: @theWidth;
		height: @theHeight;
		background: @background;
		line-height: 350%;
		font-size: 14px;
		font-weight: normal;
		float: left;
	}
}