@theHeight: 56px;
@theWidth: 120px;
@background: #ecebe8;

:local {
	.brandArea {
		//width: @theWidth;
		height: @theHeight;
		line-height: 310%;
		font-size: 20px;
		font-weight: normal;
		float: left;
		text-align: center;

		img {
			max-height: 56px;
			margin: auto;
		}
	}
	.anchor {
		font-size: 64px;
    	text-decoration: none;
    	margin-left: 20px;
    	margin-right: 20px;
	}
}