:local {
	.contentBox {
		height: 700px;
		color: white;
		background-image: url("/img/sport.jpg");
		background-size: cover;
    	background-repeat: no-repeat;
    	background-position-x: -600px;
    	clear: both;
        overflow: auto;

    	.textArea {
            width: 80%;
    		min-height: 300px;
    		margin: 50px auto;
            background-color: whitesmoke;
            color: black;
    	}
	}
}