:local {

    .contentBoxSlide {    
        clear: both;
        overflow: auto;
    }

	.contentBox {
		height: 500px;
		width: 100%;
		color: white;
		background-image: url("/img/sport.jpg");
		background-size: cover;
    	background-repeat: no-repeat;
    	background-position: right;
    	clear: both;
        overflow: auto;

    	.textArea {
            width: 80%;
    		min-height: 300px;
    		margin: 50px auto;
            background-color: whitesmoke;
            color: black;
    	}
	}

	.feature {
		float: left;
		width: 33.3%;
		padding: 20px 5px;
		box-sizing: border-box;

		.imgArea {
			    display: block;
    			margin: auto;
		}

		.textArea {
			background-color: #ffffff;
			padding: 0px 5px;

			h4 {
				color: #00aec5;
				text-align: center;
			}
		}
	}
}