@theHeight: 25px;
@background: #00aec5;

:local {
	.subscription {
		background: @background;
		padding: 5px 20px;

		.subCap {
			display: inline-block;
			color: white
		}

		.subInputArea {
			display: inline-block;
			margin-left: 100px;

			input[type="email"] {
				height: 25px;
				width: 250px;
			}

			input[type="submit"]{
				height: 35px;
				background-color: black;
				color: white;
				margin-left: 10px;
				padding: 6px 20px;
    			border-radius: 5px;
			}

		}


	}		

}