@theHeight: 56px;
@theWidth: 120px;
@background: #ecebe8;
@background-highlight: #00aec5;

:local {
	.headerContainer {
		z-index: 999;
		width: 100%; 
		padding-top: 10px; 
		padding-left: 100px; 
		background-color: white;
		overflow: auto;
		position: fixed;
		box-sizing: border-box;

		@media screen and (max-width:900px) {
			padding-left: 20px;
		}

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			padding-left: 0px;
		}
	}
	.brandArea {
		//width: @theWidth;
		//height: @theHeight;
		//line-height: 310%;
		font-size: 20px;
		font-weight: normal;
		float: left;
		text-align: center;
		margin-bottom: 15px;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			float: none;
			display: block;
		}
		img {
			max-height: 56px;
			margin: auto;
		}
	}
	.anchor {
		font-size: 64px;
    	text-decoration: none;
    	margin-left: 20px;
    	margin-right: 20px;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			font-size: 72px;
		}
	}
	.menuIcon {
		display: none;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			display: block;
			position: absolute;
			top: 20px;
			left: 10px;
		}

		button {
			font-size: 48px;
		}
	}
	.menuBuy {
		display: block;		
		position: absolute;
		top: 20px;
		right: 10px;
		background-color: @background-highlight;
		color: white;
		border-radius: 20px;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			top: 30px;
		}

		a {
			text-decoration: none;
			font-size: 24px;
			color: white;
			line-height: 60px;
			padding: 15px 30px;
			border-radius: 20px;
		}

		:hover {
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			background-color: lighten(@background-highlight, 2%);
		}
	}
	.menuArea {
	    float: left;
	    line-height: 500%;
	    clear: right;
	    margin-left: 100px;

		@media screen and (max-width:900px) {
			margin-left: 20px;
		}

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			margin-left: auto;
			margin-right: 60px;
			line-height: 350%;
			clear: both;
		}

	}		
	.menuTable {
	    border-collapse: collapse;
	    color: #454545;
	    text-transform: uppercase;
	    font-weight: normal;
	    font-family: Oswald;
		font-size: 20px;
	}
	.menuTable td {
		/*border-left: 1px solid #D9D1CE;
    	border-right: 1px solid #D9D1CE;*/
		padding: 0 20px;

		@media screen and (max-width:900px) {
			text-align: right;
		}
	}
	.menuTable td:hover {
		background-color: blue;
    	opacity: 1;
    	transition: background 125ms ease-in 0s;
	}

	.menuTable td:hover a{
		color: white;
	}

	.menuTable a {
		text-decoration: none;		
    	height: 100%;
    	display: inline-block;
    	color: #454545;
    	transition: color 125ms ease-in 0s;
    	text-transform: uppercase;
	}

	.menuItem {
		display: inline-block;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			display: none;
		}
	}

	.menuItemOpen {
		display: inline-block;

		@media screen and (max-width:720px), screen and (max-device-width: 1080px) {
			display: block;
		}
	}

}