@theHeight: 56px;
@theWidth: 120px;
@background: #ecebe8;
@background-highlight: #00aec5;

:local {
	.headerContainer {
		z-index: 999;
		max-width: 1600px;
		width: 100%; 
		padding-left: 100px; 
		background-color: transparent;
		overflow: auto;
		position: fixed;
		box-sizing: border-box;

		// @media screen and (max-width:970px) {
		// 	padding-left: 20px;
		// }

		// @media screen and (max-width:865px), screen and (max-device-width: 1080px) {
		// 	padding-left: 0px;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			padding-left: 0px;
		}
	}

	.headerContainerWhite {
		z-index: 999;
		max-width: 1600px;
		width: 100%; 
		padding-top: 10px; 
		padding-left: 100px; 
		background-color: white;
		overflow: auto;
		position: fixed;
		box-sizing: border-box;

		// @media screen and (max-width:970px) {
		// 	padding-left: 20px;
		// }

		// @media screen and (max-width:865px), screen and (max-device-width: 1080px) {
		// 	padding-left: 0px;
		// }

		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			padding-left: 0px;
		}
	}

	.brandArea {
		//width: @theWidth;
		//height: @theHeight;
		//line-height: 310%;
		font-size: 20px;
		font-weight: normal;
		float: left;
		text-align: center;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	float: none;
		// 	display: block;
		// }
		img {
			max-height: 60px;
			margin: auto;
		}

		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			float: none;
			display: block;
		}
	}
	.anchor {
    	text-decoration: none;
	}
	.menuIcon {
		display: none;
		cursor: pointer;
		outline: none;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	display: block;
		// 	position: absolute;
		// 	top: 20px;
		// 	left: 10px;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			display: block;
			position: absolute;
			top: 5px;
			left: 10px;
			cursor: pointer;
			outline: none;
		}

		button {
			border: 0;
			background-color: transparent;
			font-size: 36px;
			cursor: pointer;
			outline: none;

			&:focus {
				outline: none;
			}
		}
	}
	.menuBuy {
		display: block;		
		position: absolute;
		top: 15px;
		right: 10px;
		border-radius: 100px;
		//background-color: @background-highlight;
		// background-image: -webkit-gradient(linear,left top,left bottom,from(#a7cfdf),to(#23538a));
		// background-image: -webkit-linear-gradient(top,#a7cfdf,#23538a);
		// background-image: -moz-linear-gradient(top,#a7cfdf,#23538a);
		// background-image: -ms-linear-gradient(top,#a7cfdf,#23538a);
		// background-image: -o-linear-gradient(top,#a7cfdf,#23538a);
		// background-image: linear-gradient(to bottom,#a7cfdf,#23538a);
		// color: white;
		// border-radius: 20px;
		content:url(/img/amazon-button2.png);
		cursor: pointer;
		width: 130px;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	top: 32px;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			top: 15px;
		}

		a {
			text-decoration: none;
			font-size: 20px;
			color: white;
			line-height: 50px;
			padding: 10px 20px;
			border-radius: 20px;
		}

		&:hover {
					// box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
					opacity: 0.6;

					//background-color: lighten(@background-highlight, 2%);
			
					// background-image: -webkit-gradient(linear,left top,left bottom,from(lighten(#a7cfdf, 2%)),to(lighten(#23538a, 2%)));
					// background-image: -webkit-linear-gradient(lighten(#a7cfdf, 2%),lighten(#23538a, 2%));
					// background-image: -o-linear-gradient(lighten(#a7cfdf, 2%), lighten(#23538a, 2%));
					// background-image: linear-gradient(lighten(#a7cfdf, 2%), lighten(#23538a, 2%));
				}
	}
	.menuArea {
	    float: right;
	    line-height: 300%;
	    margin-right: 140px;
		margin-top: 15px;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	margin-left: auto;
		// 	margin-right: 60px;
		// 	line-height: 350%;
		// 	clear: both;
		// 	float: left;
		// 	font-size: 24px;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			line-height: 350%;
			clear: both;
			float: left;
			font-size: 24px;
		    width: 160px;
			background-color: darkslategray;
    		margin-top: -10px;
	    	margin-right: inherit;
		}

	}		
	.menuTable {
	    border-collapse: collapse;
	    color: white;
	    //text-transform: uppercase;
	    font-weight: normal;
	    font-family: Oswald;
		font-size: 24px;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	font-size: 36px;
		// }
		@media screen and (max-device-width: 1080px) {
			font-size: 36px;
			margin: 10px 0px;
		}
	}
	.menuTable td {
		/*border-left: 1px solid #D9D1CE;
    	border-right: 1px solid #D9D1CE;*/
		padding: 0 20px;

		// @media screen and (max-width:900px) {
		// 	text-align: right;
		// }
		@media screen and (max-width:1800px) {
			text-align: right;
		}
	}
	.menuTable td:hover {
		opacity: 1;
    	transition: border-bottom 1s linear;
		-webkit-transition: border-bottom 1s linear;
		box-shadow: 0px 1px 0px;
	}

	.menuTable a {
		text-decoration: none;		
    	height: 100%;
    	display: inline-block;
    	color: white;
    	//text-transform: uppercase;
	}

	.menuItem {
		display: inline-block;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	display: none;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			display: none;
			left: -200px;
		}
	}

	.menuItemOpen {
		display: inline-block;

		// @media screen and (max-width:860px), screen and (max-device-width: 1080px) {
		// 	display: block;
		// }
		@media screen and (max-width:2400px), screen and (max-device-width: 1080px) {
			display: block;
			transition: 1s;
			left: 0px;
		}
	}

}