@theHeight: 56px;
@background: #ecebe8;

:local {
	.menuArea {
		height: @theHeight;
	    float: left;
	    line-height: 340%;
	    clear: right;
	    margin-left: 50px;
	}		
	.menuTable {
	    border-collapse: collapse;
	    color: #454545;
	    text-transform: uppercase;
	    font-weight: normal;
	    font-family: Oswald;
	}
	.menuTable td {
		/*border-left: 1px solid #D9D1CE;
    	border-right: 1px solid #D9D1CE;*/
		padding: 0 20px;
	}
	.menuTable td:hover {
		background-color: white;
    	opacity: 1;
    	transition: background 125ms ease-in 0s;
	}
	.menuTable a {
		text-decoration: none;		
    	height: 100%;
    	display: inline-block;
    	color: #454545;
    	transition: color 125ms ease-in 0s;
    	text-transform: uppercase;
	}
	.feedbackbutton {
		position: fixed;
		bottom: 20px;
		right: 20px;

		.imgArea {
			position: relative;
    		display: inline;

		}

		:hover {
			bottom: 5px;
			cursor: pointer;
		}
	}
	.modelDialog {
		position: fixed;
		top: 200px;
		left: 0px;
		right: 0px;
		margin: 0 auto;
		display: block;
		background-color: white;
    	width: 300px;
		opacity: 0.95;

		.modelClose {
			float: right;
			clear: both;
			margin-right: 10px;
			margin-top: 10px;
			cursor: pointer;
		}

		.modelInput {
			width: 250px;
		}

		.modelSubmit {
			height: 30px;
			width: 100px; 
			float: right;
			background-color: rgb(104, 200, 49);
			margin-top: 10px;
			margin-bottom: 20px;
			cursor: pointer;
		}
	}
}