@theHeight: 56px;
@background: #ecebe8;

:local {
	.menuArea {
		height: @theHeight;
		background: @background;
	    float: left;
	    line-height: 340%;
	}		
	.menuTable {
	    border-collapse: collapse;
	    border: 1px solid black;
	    //margin: auto 10px auto auto;
	}
	.menuTable tr, .menuTable td {
		border: 1px solid black;
	}
}